* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: lightgrey;
    border-radius: 5%;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap; 
}

.left {
   
}

.right {
    width: 90%;
}

