:root {
    --bg-primary: #053b50;
    --bg-secundary:#212529;
    --bg-tertiary: grey;
    --txt-primary: black;
    --txt-secundary: white;
    --txt-tertiary: grey;
    --bs-body-color: rgb(222, 226, 230);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: var(--bg-primary);
    padding: 0 20px;
}

.body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: var(--bg-secundary);
    box-sizing: border-box;
}

.btn-light {
    --bs-btn-color: white;
    --bs-btn-bg: #053b50;
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
}

.center {
    text-align: center;
}

.btn-link {
    text-decoration: none;
    color: var(--txt-secundary);
}

.cards {
    padding: 50px;
}

.form {
    padding: 75px 25px;
}

footer {
    background-color: var(--bg-primary);
    color: var(--txt-tertiary)!important;
    padding-top: 16px;
}

.footerCopyright {
    padding: 14.5px;
    margin: 0;
}

.footerIcons {
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    opacity: 75%;
}

.footerGithub {
    padding: 13px;
    margin: 0;
}

.githubLink, .githubLink:hover {
    text-decoration: none;
    color: var(--txt-tertiary);
}