:root {
    --bg-primary: #053b50;
    --bg-secundary:#212529;
    --bg-tertiary: ;
    --txt-primary: ;
    --txt-secundary: ;
    --txt-tertiary: grey;
    --bs-body-color: rgb(222, 226, 230);
}

.navbar {
    background-color: var(--bg-primary);
    padding: 0 20px;
}

.body {
    padding-top: 60px;
    background-color: var(--bg-secundary);
    --bs-btn-color: white;
    --bs-btn-bg: #053b50;
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #f8f9fa;
    --bs-btn-hover-bg: #053b50;
    
}

.cards {
    padding: 50px;
}

footer {
    background-color: var(--bg-primary);
    color: var(--txt-tertiary)!important;
    padding-top: 16px;
}

.footerCopyright {
    padding: 14.5px;
    margin: 0;
}

.footerIcons {
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    opacity: 75%;
}

.footerGithub {
    padding: 13px;
    margin: 0;
}

.githubLink {
    text-decoration: none;
}